<div class="admin-sidebar">
  <div class="logo"><img src="/assets/images/logo.png" alt="logo"></div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="" ><span  class="pi pi-home"></span>Dashboard</a>
      </li>
        <li>
        <a routerLink="/products"><span  class="pi pi-briefcase"></span>Products</a>
      </li>
        <li>
        <a routerLink="/categories"><span  class="pi pi-list"></span>Categories</a>
      </li>
        <li>
        <a routerLink="/orders" ><span  class="pi pi-shopping-cart"></span>Orders</a>
      </li>
        <li>
       <a routerLink="/users" > <span  class="pi pi-users"></span>Users</a>
      </li>
      <li>
        <a routerLink="/logout" class="logout" (click)="logoutUser()"><span  class="pi pi-sign-out"></span>Logout</a>
      </li>
    </ul>
  </div>
</div>
