.p-col-3 {
  padding: 0.5em;
  box-sizing: border-box;
}

.p-grid {
  gap: 0.5em;
}

.d-item
{
display: flex;
text-align: center;
color: var(--surface-a);
justify-content: space-between;



.pi{
  font-size: 4em;
  margin-bottom: 15px;

}
.name{
  font-size: 1.4em;
}

.number{
  margin-top: 50px;
  font-size: 2.5em;

}

}

.d-orders{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.d-products
{
  background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

.d-users{
  background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

}

.d-totalsales{
  background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

}
