.admin
{
  &-wrapper{
    height: 100%;
    padding: 0;
    margin: 0;
  }

  &-main{
    width: calc(100% - 255px);
    margin-left: 255px;

  }
  &-sidebar{
    position: fixed;
    width: 255px;
    background-color: rgb(8, 12, 30);
    height: 100%;
    top: 0;

    .logo{
      padding: 20px;
      width: 100%;
      .img{
        width: 100%;
      }
    }

    .links{
      ul{
        margin: 0;
        padding: 0;

        li{
          display: block;
          list-style: none;
          width: 100%;

          a{
            color: var(--surface-a);
            padding: 10px 15px;
            display: block;
            width: 100%;

            &:hover{
              background-color: var(--blue-700);
            }
            .pi{
            margin-right: 8px;
            margin-top: 0;

            }
            &.logout{
              color: var(--blue-500);
            }
          }




        }
      }
    }
  }
  &-page{
    padding: 15px;
  }
}
